{% trans_default_domain 'FOSUserBundle' %}
<div class="container">

    <div style="text-align: center; color:rgb(19, 141, 189)">
        <p>
            Wpisz hasło składające się z conajmniej 8 znaków i zawierające conajmniej jedną liczbę lub jeden ze znaków: !,@,#,$,%,^,*
        </p>
    </div>
    <form action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password">
        {{ form_start(form) }}
            <div class="form-group"  style="text-align:center">
                <label class="control-label">{{ form_label(form.current_password) }}</label>
                {{ form_widget(form.current_password,{ 'attr': {'required': 'required', 'class':'form-control'} }) }}
                <span class="error text-danger">
                    <br>                                    
                    {{ form_errors(form.current_password) }} 
                </span>
            </div>
            <div class="form-group"  style="text-align:center">
                <label class="control-label">{{ form_label(form.plainPassword.first) }}</label>
                {{ form_widget(form.plainPassword.first,{ 'attr': {'required': 'required', 'class':'form-control'} }) }}
                <span class="error text-danger">
                    <br>
                    {{ form_errors(form.plainPassword.first) }} 
                </span>
            </div>
            <div class="form-group"  style="text-align:center">
                <label class="control-label">{{ form_label(form.plainPassword.second) }}</label>
                {{ form_widget(form.plainPassword.second,{ 'attr': {'required': 'required', 'class':'form-control'} }) }}
                <span class="error text-danger">
                    <br>
                    {{ form_errors(form.plainPassword.second) }} 
                </span>
            </div>

            <div style="text-align:center">
                <button class="btn btn-primary" type="submit">
                        {{ 'change_password.submit'|trans }}
                </button>
            </div>
        {{ form_end(form) }}
    </form>
</div>