{% extends 'base.html.twig' %}

{% block body %}
{% if  is_granted('ROLE_ADMIN') %}

	<div class="container">
		{% if error is defined %}
			<div class="alert alert-warning">
				{{error}}
			</div>	
		{% else %}
			<div class="pageTitle">
				<center><h1>Dodaj użytkownika</h1><a href="/showUsers">Powrót do listy użytkowników</a></center>
			</div>
			<hr>
		{% endif %}
	</div>
	<div class="container">	
        {% for message in app.flashes('error') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}
	</div>

    <div class="container"
        <div class="row">
            <div>
				
				{{ form_start(form) }}
					 {{ form_errors(form) }}
					<div class="col-xs-11 col-md-12">
						<div class="col-xs-3 col-md-3">
							{{ form_label(form.name) }}<br/>
							{{ form_errors(form.name) }}
							{{ form_widget(form.name) }}
						</div>
						<div class="col-xs-1 col-md-1">
						</div>
						<div class="col-xs-3 col-md-3">
							{{ form_label(form.surname) }}<br/>
							{{ form_errors(form.surname) }}
							{{ form_widget(form.surname) }}
						</div>
						<div class="col-xs-1 col-md-1">
						</div>
						<div class="col-xs-3 col-md-3">
							{{ form_label(form.email) }}<br/>
							{{ form_errors(form.email) }}
							{{ form_widget(form.email) }}
						</div>							
					</div>
					<div class="col-xs-11 col-md-12">
						<div class="col-xs-3 col-md-3">
							{{ form_label(form.groupName) }}<br/>
							{{ form_errors(form.groupName) }}
							{{ form_widget(form.groupName) }}
						</div>
						<div class="col-xs-1 col-md-1">
						</div>
						<div class="col-xs-3 col-md-3">
							<br/>
							<button type="submit" class="btn btn-primary"><h4>Dodaj do bazy : <span class="glyphicon glyphicon-floppy-open"></span></h4></button>
						</div>
					</div>
					
                {{ form_end(form) }}
            </div>
			
        </div>
    </div>
<hr>
 	{% else %}
		<center><h1><label style="color:red;">
		Nie masz prawa do oglądania tej strony - zaloguj się!<br/>
		Zapraszamy ponownie :)
		</h1></label></center>
		<script>window.location.href = "/"</script>
	{% endif %}          
{% endblock %}
