{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <div class="container">
            
            <div class="row">  

                <div class="col-xs-12 col-md-12">

                    <div class="col-xs-2 col-md-3">

                        <div class="leftMenu">
                            <div>
                                <div style="display: inline-block">
                                        <a href="/addDocuments/0" style="color:rgb(13, 13, 29); font-size:15px"  title="Przechodzi do głównego folderu">
                                            {% if app.environment == 'dev' %}
                                                <img src="{{ asset('images/folder_back.png') }}" width="35px"/> Główny folder<br>
                                            {% else %}
                                                <img src="{{ asset('/web/images/folder_back.png') }}" width="35px"/> Główny folder<br>
                                            {% endif %}
                                        </a>
                                    </div>
            
                                    <div style="display: inline-block">
                                        <a href="/addDocuments/0" style="color:rgb(13, 13, 29); font-size:15px"  title="Przechodzi w hierarchi katalogów poziom wyżej">
                                            {% if app.environment == 'dev' %}
                                                <img src="{{ asset('images/folder_back2.png') }}" width="35px"/> Wstecz<br>
                                            {% else %}
                                                <img src="{{ asset('/web/images/folder_back2.png') }}" width="35px"/> Wstecz<br>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div style="clear: left;"></div>
                            </div>
                            
                            <div class="pageTitle" style="margin-top: 10px; margin-bottom: 10px;">
                                Lista folderów
                            </div>

                            {# get list of catalogues in current folder #}
                            {% for catalogueName in catalogueList %}
                                {% set catName = catalogueName['name'] %}
                                {% set catId = catalogueName['id'] %}
                                {% set subcatalogueExist = null %}

                                {# set subcatalogue open when subcatalogue exist #}
                                {% for subcatalogue in subcatalogueList %}
                                    {% if subcatalogue['parent'] is defined %}
                                        {% if subcatalogue['parent'] == catId %}
                                            {% set subcatalogueExist = 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                
                                {% if app.environment == 'dev' %}
                                    <div style="display: inline-block">
                                        {% if subcatalogueExist != null %}
                                            
                                            <input type="image" src="{{ asset('images/folder_closed_with_subfolders.png') }}" alt="closed" 
                                                id="subcatalogueClosed{{catId}}" class="subDataClosed" value="{{catId}}" width="35px"
                                                title="Otwiera listę podkatalogów"
                                            >

                                            <input type="image" src="{{ asset('images/folder_opened.png') }}" alt="opened" 
                                                id="subcatalogueOpen{{catId}}" class="subDataOpen" value="{{catId}}" width="35px"
                                                title="Zamyka listę podkatalogów"
                                            >

                                        {% else %}                                        
                                            <input type="image" src="{{ asset('images/folder_closed.png') }}" 
                                                alt="closed" width="35px" style="vertical-align: middle;"
                                            >
                                        {% endif %}
                                        <span style="vertical-align: middle;">
                                            <a href="/addDocuments/{{catId}}" style="color:rgb(13, 13, 29); font-size:15px; margin: 5px;">                                     
                                                {{catName}}
                                            </a>  
                                        </span>                                  
                                        <br><br>
                                    </div>
                                    <div style="clear: left;"></div>
                                {% else %}                                
                                    <div style="display: inline-block">
                                        {% if subcatalogueExist != null %}
                                            <input type="image" src="{{ asset('images/folder_closed_with_subfolders.png') }}" alt="closed" 
                                                id="subcatalogueClosed{{catId}}" class="subDataClosed" value="{{catId}}" width="35px"
                                                title="Otwiera listę podkatalogów"
                                            >

                                            <input type="image" src="{{ asset('/web/images/folder_opened.png') }}" alt="opened" 
                                                id="subcatalogueOpen{{catId}}" class="subDataOpen" value="{{catId}}" width="35px"
                                                title="Zamyka listę podkatalogów"
                                            >
                                        {% else %}
                                            <input type="image" src="{{ asset('images/folder_closed.png') }}" 
                                                alt="closed" width="35px" style="vertical-align: middle;"
                                            >
                                        {% endif %}

                                        <span style="vertical-align: middle;">
                                            <a href="/addDocuments/{{catId}}" style="color:rgb(13, 13, 29); font-size:15px; margin: 5px;">                                     
                                                {{catName}}
                                            </a>   
                                        </span>                                 
                                        <br><br>
                                    </div>
                                    <div style="clear: left;"></div>
                                {% endif %}
                            
                                <div id="sub{{catId}}" class="subcatalogue">
                                    {# get subcatalogs for catalog list #}
                                    {% for subcatalogue in subcatalogueList %}
                                        {% if subcatalogue['parent'] is defined %}
                                            {% if subcatalogue['parent'] == catId %}
                                                {% set subcatName = subcatalogue['name'] %}
                                                {% set subcatId = subcatalogue['id'] %}
                                                <a href="/addDocuments/{{subcatId}}" style="color:rgb(13, 13, 29); font-size:14px">
                                                    {% if app.environment == 'dev' %}
                                                        <img src="{{ asset('images/folder_opened_with_subfolders.png') }}" 
                                                            width="60px" style="vertical-align: middle;"
                                                        />
                                                        {{subcatName}}
                                                        <br><br>
                                                    {% else %}
                                                        <img src="{{ asset('/web/images/folder_opened_with_subfolders.png') }}" 
                                                            width="60px" style="vertical-align: middle;"
                                                        />
                                                        {{subcatName}}
                                                        <br><br>
                                                    {% endif %}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-xs-8 col-md-9">
                        <div class="bodyContainer">
                            <div style="padding: 15px;"></div>
                                        
                            <div class="col-xs-11 col-md-12">
                                <br>
                                <div class="pageTitle">
                                    Lista wyszukanych dokumentów :
                                </div>
                                <br>

                            </div>

                            <div class="col-xs-11 col-md-12"> 
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th width="5%">
                                            <th style="text-align:left;">
                                                Nazwa pliku
                                            </th>
                                            <th style="text-align:left;">
                                                Opis
                                            </th>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <th width="10%">
                                                    Link do katalogu
                                                </th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                </table>

                                <div id="table-wrapper">
                                    <div id="table-scroll">

                                        <table class="table" style="overflow: scroll;">
                                            {% if files is defined %}

                                                {% for file in files %}

                                                    {% set fileName = file['fileName'] %}
                                                    {% set catalogueId = file['catalogueId'] %}
                                                    {% if catalogueId == null %}
                                                        {% set catalogueId = 0 %}
                                                    {% endif %}
                                                    {% set extension = file['extension'] %}
                                                    {% set description = file['description'] %}

                                                    <tr>
                                                        <td width="5%">
                                                            <a href="/download/{{catalogueId}}/{{fileName}}.{{extension}}" style="color:rgb(13, 13, 29); font-size:14px">
                                                                {% if app.environment == 'dev' %}
                                                                <img src="/images/{{extension}}.png" onerror="this.src='{{ asset('images/uknownFile.png') }}'" width="30px"/>
                                                                {% else %}
                                                                <img src="/web/images/{{extension}}.png" onerror="this.src='{{ asset('images/uknownFile.png') }}'" width="30px"/>
                                                                {% endif %}
                                                            </a>
                                                        </td>
                                                        <td style="text-align: left;">
                                                            <a href="/download/{{catalogueId}}/{{fileName}}.{{extension}}" style="color:rgb(13, 13, 29); font-size:14px">
                                                                {{fileName}}
                                                            </a>
                                                        </td>
                                                        <td style="text-align: left;">
                                                            {{description}}
                                                        </td>
                                                        <td width="10%">
                                                            <a href="/addDocuments/{{catalogueId}}" style="color:black;">
                                                                <span class="glyphicon glyphicon-folder-open"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}  

                                            {% endif %}
                                            
                                        </table>  
                                    </div>
                                </div>                               
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        {% if app.environment == 'dev' %}
			<script src="{{ asset('js/subfoldersShow.js') }}"></script>
		{% else %}
			<script src="{{ asset('/web/js/subfoldersShow.js') }}"></script>
		{% endif %}
        
    {% else %}
        <script>window.location.href = "/login"</script>
    {% endif %}

{% endblock %}